In [1]:
import pandas as pd

In [2]:
dataframe=pd.read_excel('Downloads/Bank_Personal_Loan_Modelling.xlsx',sheet_name=1)

In [3]:
dataframe

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.600000,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.500000,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.000000,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.700000,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.000000,2,0,0,0,0,0,1
5,6,37,13,29,92121,4,0.400000,2,155,0,0,0,1,0
6,7,53,27,72,91711,2,1.500000,2,0,0,0,0,1,0
7,8,50,24,22,93943,1,0.300000,3,0,0,0,0,0,1
8,9,35,10,81,90089,3,0.600000,2,104,0,0,0,1,0
9,10,34,9,180,93023,1,8.900000,3,0,1,0,0,0,0
10,11,65,39,105,94710,4,2.400000,3,0,0,0,0,0,0
11,12,29,5,45,90277,3,0.100000,2,0,0,0,0,1,0
12,13,48,23,114,93106,2,3.800000,3,0,0,1,0,0,0
13,14,59,32,40,94920,4,2.500000,2,0,0,0,0,1,0
14,15,67,41,112,91741,1,2.000000,1,0,0,1,0,0,0
15,16,60,30,22,95054,1,1.500000,3,0,0,0,0,1,1
16,17,38,14,130,95010,4,4.700000,3,134,1,0,0,0,0
17,18,42,18,81,94305,4,2.400000,1,0,0,0,0,0,0
18,19,46,21,193,91604,2,8.100000,3,0,1,0,0,0,0
19,20,55,28,21,94720,1,0.500000,2,0,0,1,0,0,1
20,21,56,31,25,94015,4,0.900000,2,111,0,0,0,1,0
21,22,57,27,63,90095,3,2.000000,3,0,0,0,0,1,0
22,23,29,5,62,90277,1,1.200000,1,260,0,0,0,1,0
23,24,44,18,43,91320,2,0.700000,1,163,0,1,0,0,0
24,25,36,11,152,95521,2,3.900000,1,159,0,0,0,0,1
25,26,43,19,29,94305,3,0.500000,1,97,0,0,0,1,0
26,27,40,16,83,95064,4,0.200000,3,0,0,0,0,0,0
27,28,46,20,158,90064,1,2.400000,1,0,0,0,0,1,1
28,29,56,30,48,94539,1,2.200000,3,0,0,0,0,1,1
29,30,38,13,119,94104,1,3.300000,2,0,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,4971,37,13,95,95821,2,1.700000,2,0,0,0,0,0,1
4971,4972,58,28,73,90024,1,1.400000,3,0,0,1,0,0,0
4972,4973,58,32,41,93401,3,2.200000,3,148,0,0,0,1,1
4973,4974,31,1,68,95045,4,4.000000,3,0,0,0,0,1,0
4974,4975,59,33,64,92867,4,1.700000,2,0,0,0,0,0,1
4975,4976,38,11,29,95207,4,1.000000,2,0,0,0,0,1,0
4976,4977,29,5,31,95039,1,1.800000,2,0,0,0,0,1,1
4977,4978,40,15,54,90266,3,0.800000,3,0,0,0,0,1,0
4978,4979,57,27,63,90210,4,2.000000,3,0,0,0,0,1,0
4979,4980,50,26,92,90740,1,2.600000,2,213,0,0,0,0,1
4980,4981,29,5,135,95762,3,5.300000,1,0,1,0,1,1,1
4981,4982,34,9,195,90266,2,3.000000,1,122,0,0,0,1,0
4982,4983,36,10,45,95126,4,0.200000,1,0,0,0,0,0,1
4983,4984,51,26,72,95370,1,2.900000,1,0,0,0,0,0,0
4984,4985,27,1,98,94043,4,2.300000,3,0,0,0,0,0,1
4985,4986,48,23,30,94720,3,1.700000,2,162,0,0,0,1,0
4986,4987,32,6,78,95825,1,2.900000,3,0,0,0,0,0,0
4987,4988,48,23,43,93943,3,1.700000,2,159,0,0,0,1,0
4988,4989,34,8,85,95134,1,2.500000,1,136,0,0,0,0,1
4989,4990,24,0,38,93555,1,1.000000,3,0,0,0,0,1,0
4990,4991,55,25,58,95023,4,2.000000,3,219,0,0,0,0,1
4991,4992,51,25,92,91330,1,1.900000,2,100,0,0,0,0,1
4992,4993,30,5,13,90037,4,0.500000,3,0,0,0,0,0,0
4993,4994,45,21,218,91801,2,6.666667,1,0,0,0,0,1,0
4994,4995,64,40,75,94588,3,2.000000,3,0,0,0,0,1,0
4995,4996,29,3,40,92697,1,1.900000,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,0.400000,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,0.300000,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,0.500000,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,0.800000,1,0,0,0,0,1,1

In [4]:
Y=dataframe['Personal Loan']

In [5]:
X=dataframe

In [6]:
X.drop('Personal Loan', axis=1, inplace=True)

In [7]:
X

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.600000,1,0,1,0,0,0
1,2,45,19,34,90089,3,1.500000,1,0,1,0,0,0
2,3,39,15,11,94720,1,1.000000,1,0,0,0,0,0
3,4,35,9,100,94112,1,2.700000,2,0,0,0,0,0
4,5,35,8,45,91330,4,1.000000,2,0,0,0,0,1
5,6,37,13,29,92121,4,0.400000,2,155,0,0,1,0
6,7,53,27,72,91711,2,1.500000,2,0,0,0,1,0
7,8,50,24,22,93943,1,0.300000,3,0,0,0,0,1
8,9,35,10,81,90089,3,0.600000,2,104,0,0,1,0
9,10,34,9,180,93023,1,8.900000,3,0,0,0,0,0
10,11,65,39,105,94710,4,2.400000,3,0,0,0,0,0
11,12,29,5,45,90277,3,0.100000,2,0,0,0,1,0
12,13,48,23,114,93106,2,3.800000,3,0,1,0,0,0
13,14,59,32,40,94920,4,2.500000,2,0,0,0,1,0
14,15,67,41,112,91741,1,2.000000,1,0,1,0,0,0
15,16,60,30,22,95054,1,1.500000,3,0,0,0,1,1
16,17,38,14,130,95010,4,4.700000,3,134,0,0,0,0
17,18,42,18,81,94305,4,2.400000,1,0,0,0,0,0
18,19,46,21,193,91604,2,8.100000,3,0,0,0,0,0
19,20,55,28,21,94720,1,0.500000,2,0,1,0,0,1
20,21,56,31,25,94015,4,0.900000,2,111,0,0,1,0
21,22,57,27,63,90095,3,2.000000,3,0,0,0,1,0
22,23,29,5,62,90277,1,1.200000,1,260,0,0,1,0
23,24,44,18,43,91320,2,0.700000,1,163,1,0,0,0
24,25,36,11,152,95521,2,3.900000,1,159,0,0,0,1
25,26,43,19,29,94305,3,0.500000,1,97,0,0,1,0
26,27,40,16,83,95064,4,0.200000,3,0,0,0,0,0
27,28,46,20,158,90064,1,2.400000,1,0,0,0,1,1
28,29,56,30,48,94539,1,2.200000,3,0,0,0,1,1
29,30,38,13,119,94104,1,3.300000,2,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,4971,37,13,95,95821,2,1.700000,2,0,0,0,0,1
4971,4972,58,28,73,90024,1,1.400000,3,0,1,0,0,0
4972,4973,58,32,41,93401,3,2.200000,3,148,0,0,1,1
4973,4974,31,1,68,95045,4,4.000000,3,0,0,0,1,0
4974,4975,59,33,64,92867,4,1.700000,2,0,0,0,0,1
4975,4976,38,11,29,95207,4,1.000000,2,0,0,0,1,0
4976,4977,29,5,31,95039,1,1.800000,2,0,0,0,1,1
4977,4978,40,15,54,90266,3,0.800000,3,0,0,0,1,0
4978,4979,57,27,63,90210,4,2.000000,3,0,0,0,1,0
4979,4980,50,26,92,90740,1,2.600000,2,213,0,0,0,1
4980,4981,29,5,135,95762,3,5.300000,1,0,0,1,1,1
4981,4982,34,9,195,90266,2,3.000000,1,122,0,0,1,0
4982,4983,36,10,45,95126,4,0.200000,1,0,0,0,0,1
4983,4984,51,26,72,95370,1,2.900000,1,0,0,0,0,0
4984,4985,27,1,98,94043,4,2.300000,3,0,0,0,0,1
4985,4986,48,23,30,94720,3,1.700000,2,162,0,0,1,0
4986,4987,32,6,78,95825,1,2.900000,3,0,0,0,0,0
4987,4988,48,23,43,93943,3,1.700000,2,159,0,0,1,0
4988,4989,34,8,85,95134,1,2.500000,1,136,0,0,0,1
4989,4990,24,0,38,93555,1,1.000000,3,0,0,0,1,0
4990,4991,55,25,58,95023,4,2.000000,3,219,0,0,0,1
4991,4992,51,25,92,91330,1,1.900000,2,100,0,0,0,1
4992,4993,30,5,13,90037,4,0.500000,3,0,0,0,0,0
4993,4994,45,21,218,91801,2,6.666667,1,0,0,0,1,0
4994,4995,64,40,75,94588,3,2.000000,3,0,0,0,1,0
4995,4996,29,3,40,92697,1,1.900000,3,0,0,0,1,0
4996,4997,30,4,15,92037,4,0.400000,1,85,0,0,1,0
4997,4998,63,39,24,93023,2,0.300000,3,0,0,0,0,0
4998,4999,65,40,49,90034,3,0.500000,2,0,0,0,1,0
4999,5000,28,4,83,92612,3,0.800000,1,0,0,0,1,1

In [8]:
import statsmodels.api as sm

In [9]:
X1=sm.add_constant(X)

In [10]:
logistic=sm.Logit(Y,X1)

In [11]:
result=logistic.fit()

Optimization terminated successfully.
         Current function value: 0.128331
         Iterations 9

In [12]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Personal Loan   No. Observations:                 5000
Model:                          Logit   Df Residuals:                     4986
Method:                           MLE   Df Model:                           13
Date:                Sun, 23 Aug 2020   Pseudo R-squ.:                  0.5942
Time:                        22:19:07   Log-Likelihood:                -641.65
converged:                       True   LL-Null:                       -1581.0
                                        LLR p-value:                     0.000
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                -11.7179      4.115     -2.847      0.004     -19.784      -3.652
ID                  -5.23e-05   5.14e-05     -1.017      0.309      -0.000    4.85e-05
Age                   -0.0538      0.061     -0.877      0.380      -0.174       0.066
Experience             0.0639      0.061      1.048      0.295      -0.056       0.183
Income                 0.0547      0.003     20.820      0.000       0.050       0.060
ZIP Code           -3.743e-06   4.07e-05     -0.092      0.927   -8.35e-05    7.61e-05
Family                 0.6952      0.074      9.353      0.000       0.549       0.841
CCAvg                  0.1218      0.040      3.070      0.002       0.044       0.200
Education              1.7404      0.115     15.098      0.000       1.514       1.966
Mortgage               0.0005      0.001      0.836      0.403      -0.001       0.002
Securities Account    -0.9453      0.286     -3.305      0.001      -1.506      -0.385
CD Account             3.8232      0.324     11.791      0.000       3.188       4.459
Online                -0.6717      0.157     -4.272      0.000      -0.980      -0.364
CreditCard            -1.1136      0.205     -5.430      0.000      -1.516      -0.712
======================================================================================
"""

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X.drop('ID', axis=1, inplace=True)
X.drop('Age', axis=1, inplace=True)
X.drop('Experience', axis=1, inplace=True)
X.drop('ZIP Code', axis=1, inplace=True)
X.drop('Mortgage', axis=1, inplace=True)
'''all the above dropped attributes having their P>0.05, so for this reason they have been dropped beacuse so don.t have any significant
effect on Personal Loan.'''

'all the above dropped attributes having their P>0.05, so for this reason they have been dropped beacuse so don.t have any significant\neffect on Personal Loan.'

In [16]:
X

,Income,Family,CCAvg,Education,Securities Account,CD Account,Online,CreditCard
0,49,4,1.600000,1,1,0,0,0
1,34,3,1.500000,1,1,0,0,0
2,11,1,1.000000,1,0,0,0,0
3,100,1,2.700000,2,0,0,0,0
4,45,4,1.000000,2,0,0,0,1
5,29,4,0.400000,2,0,0,1,0
6,72,2,1.500000,2,0,0,1,0
7,22,1,0.300000,3,0,0,0,1
8,81,3,0.600000,2,0,0,1,0
9,180,1,8.900000,3,0,0,0,0
10,105,4,2.400000,3,0,0,0,0
11,45,3,0.100000,2,0,0,1,0
12,114,2,3.800000,3,1,0,0,0
13,40,4,2.500000,2,0,0,1,0
14,112,1,2.000000,1,1,0,0,0
15,22,1,1.500000,3,0,0,1,1
16,130,4,4.700000,3,0,0,0,0
17,81,4,2.400000,1,0,0,0,0
18,193,2,8.100000,3,0,0,0,0
19,21,1,0.500000,2,1,0,0,1
20,25,4,0.900000,2,0,0,1,0
21,63,3,2.000000,3,0,0,1,0
22,62,1,1.200000,1,0,0,1,0
23,43,2,0.700000,1,1,0,0,0
24,152,2,3.900000,1,0,0,0,1
25,29,3,0.500000,1,0,0,1,0
26,83,4,0.200000,3,0,0,0,0
27,158,1,2.400000,1,0,0,1,1
28,48,1,2.200000,3,0,0,1,1
29,119,1,3.300000,2,0,1,1,1
...,...,...,...,...,...,...,...,...
4970,95,2,1.700000,2,0,0,0,1
4971,73,1,1.400000,3,1,0,0,0
4972,41,3,2.200000,3,0,0,1,1
4973,68,4,4.000000,3,0,0,1,0
4974,64,4,1.700000,2,0,0,0,1
4975,29,4,1.000000,2,0,0,1,0
4976,31,1,1.800000,2,0,0,1,1
4977,54,3,0.800000,3,0,0,1,0
4978,63,4,2.000000,3,0,0,1,0
4979,92,1,2.600000,2,0,0,0,1
4980,135,3,5.300000,1,0,1,1,1
4981,195,2,3.000000,1,0,0,1,0
4982,45,4,0.200000,1,0,0,0,1
4983,72,1,2.900000,1,0,0,0,0
4984,98,4,2.300000,3,0,0,0,1
4985,30,3,1.700000,2,0,0,1,0
4986,78,1,2.900000,3,0,0,0,0
4987,43,3,1.700000,2,0,0,1,0
4988,85,1,2.500000,1,0,0,0,1
4989,38,1,1.000000,3,0,0,1,0
4990,58,4,2.000000,3,0,0,0,1
4991,92,1,1.900000,2,0,0,0,1
4992,13,4,0.500000,3,0,0,0,0
4993,218,2,6.666667,1,0,0,1,0
4994,75,3,2.000000,3,0,0,1,0
4995,40,1,1.900000,3,0,0,1,0
4996,15,4,0.400000,1,0,0,1,0
4997,24,2,0.300000,3,0,0,0,0
4998,49,3,0.500000,2,0,0,1,0
4999,83,3,0.800000,1,0,0,1,1

In [18]:
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X,Y,test_size=0.2,random_state=0)

In [19]:
Xtrain1=sm.add_constant(Xtrain)

In [20]:
logistic=sm.Logit(Ytrain,Xtrain1)

In [21]:
result=logistic.fit()

Optimization terminated successfully.
         Current function value: 0.130982
         Iterations 9

In [22]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Personal Loan   No. Observations:                 4000
Model:                          Logit   Df Residuals:                     3991
Method:                           MLE   Df Model:                            8
Date:                Sun, 23 Aug 2020   Pseudo R-squ.:                  0.5901
Time:                        22:21:52   Log-Likelihood:                -523.93
converged:                       True   LL-Null:                       -1278.2
                                        LLR p-value:                     0.000
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                -13.1988      0.622    -21.232      0.000     -14.417     -11.980
Income                 0.0536      0.003     18.813      0.000       0.048       0.059
Family                 0.6557      0.081      8.075      0.000       0.497       0.815
CCAvg                  0.1468      0.044      3.328      0.001       0.060       0.233
Education              1.7673      0.126     14.053      0.000       1.521       2.014
Securities Account    -0.7602      0.301     -2.527      0.011      -1.350      -0.171
CD Account             3.7850      0.353     10.730      0.000       3.094       4.476
Online                -0.7392      0.174     -4.246      0.000      -1.080      -0.398
CreditCard            -1.1083      0.226     -4.913      0.000      -1.550      -0.666
======================================================================================
"""

In [23]:
Xtest1=sm.add_constant(Xtest)
yhat=result.predict(Xtest1)

In [24]:
prediction=list(map(round,yhat))

In [25]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
res=confusion_matrix(Ytest,prediction)

In [26]:
res

array([[902,   8],
       [ 32,  58]], dtype=int64)

In [27]:
acc=accuracy_score(Ytest,prediction)

In [28]:
acc*100

96.0

In [29]:
cla=classification_report(Ytest,prediction)

In [30]:
print(cla)

              precision    recall  f1-score   support

           0       0.97      0.99      0.98       910
           1       0.88      0.64      0.74        90

   micro avg       0.96      0.96      0.96      1000
   macro avg       0.92      0.82      0.86      1000
weighted avg       0.96      0.96      0.96      1000

In [31]:
# with feature scling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [32]:
X_train=sc.fit_transform(Xtrain)

C:\Users\KIIT\Miniconda3\envs\py35\lib\site-packages\sklearn\preprocessing\data.py:617: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\KIIT\Miniconda3\envs\py35\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [33]:
print(X_train)

[[ 0.02175233  0.52536779  0.21943159 ..., -0.25432119  0.82545668
   1.55150089]
 [-0.19431256 -1.21210319 -0.42554397 ..., -0.25432119  0.82545668
  -0.64453717]
 [-1.10178513  0.52536779 -0.71009201 ..., -0.25432119 -1.21145061
   1.55150089]
 ...,
 [-1.08017864 -0.3433677  -0.59627279 ..., -0.25432119 -1.21145061
   1.55150089]
 [-0.5400164   1.39410328 -0.25481514 ...,  3.93203578  0.82545668
   1.55150089]
 [-0.77768778 -1.21210319  0.08664251 ..., -0.25432119 -1.21145061
  -0.64453717]]

In [34]:
X_train1=sm.add_constant(X_train)

In [35]:
logistic=sm.Logit(Ytrain,X_train1)

In [36]:
result=logistic.fit()

Optimization terminated successfully.
         Current function value: 0.130982
         Iterations 9

In [37]:
X_test1=sc.fit_transform(Xtest)

C:\Users\KIIT\Miniconda3\envs\py35\lib\site-packages\sklearn\preprocessing\data.py:617: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\KIIT\Miniconda3\envs\py35\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [38]:
X_test2=sm.add_constant(X_test1)

In [39]:
yhat=result.predict(X_test2)

In [40]:
prediction=list(map(round,yhat))

In [41]:
print(confusion_matrix(Ytest,prediction))

[[901   9]
 [ 31  59]]

In [42]:
acc=accuracy_score(Ytest,prediction)
print(acc)

0.96

In [43]:
acc*100

96.0

In [44]:
print(classification_report(Ytest,prediction))

              precision    recall  f1-score   support

           0       0.97      0.99      0.98       910
           1       0.87      0.66      0.75        90

   micro avg       0.96      0.96      0.96      1000
   macro avg       0.92      0.82      0.86      1000
weighted avg       0.96      0.96      0.96      1000

In [46]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Personal Loan   No. Observations:                 4000
Model:                          Logit   Df Residuals:                     3991
Method:                           MLE   Df Model:                            8
Date:                Sun, 23 Aug 2020   Pseudo R-squ.:                  0.5901
Time:                        22:27:02   Log-Likelihood:                -523.93
converged:                       True   LL-Null:                       -1278.2
                                        LLR p-value:                     0.000
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -4.6817      0.181    -25.906      0.000      -5.036      -4.327
x1             2.4792      0.132     18.813      0.000       2.221       2.737
x2             0.7548      0.093      8.075      0.000       0.572       0.938
x3             0.2580      0.078      3.328      0.001       0.106       0.410
x4             1.4771      0.105     14.053      0.000       1.271       1.683
x5            -0.2350      0.093     -2.527      0.011      -0.417      -0.053
x6             0.9041      0.084     10.730      0.000       0.739       1.069
x7            -0.3629      0.085     -4.246      0.000      -0.530      -0.195
x8            -0.5047      0.103     -4.913      0.000      -0.706      -0.303
==============================================================================
"""